:root {
  background-color: burlywood;
}

.appContainer {
  background-color: burlywood;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .dropdown-show{
  display: block;
  position: absolute;
} */

.admin-nav {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.nav-style {
  background: linear-gradient(15deg, #0528f1ef 0%, #80d0c7 100%);
}

.homeContainer {
  max-width: 70%;
  margin-top: 20px;
  background-color: lightblue;
}

.new-form-div {
  max-width: 80%;
  margin: auto;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
}